<!--
  Title: about.component.html
  Author: Nolan Berryhill
  Date: 11/19/2023
  Description: About for in n out book
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout=column>
      <div>
        <!-- Book Image -->
        <img src="./assets/book.jpg" style="max-width: 300px;" alt="Storm Front">
      </div>
      <div>
        <!-- Location of the image on the web -->
        <em>
          Photo by <a href="https://th.bing.com/th/id/R.00afc0261ecb98af53daf8d85d8b40c6?rik=4qrppVlbROXmyA&riu=http%3a%2f%2fecx.images-amazon.com%2fimages%2fI%2f81dt8AWO7pL.jpg&ehk=awm89uPZx9M5EvwjuS1aXR0d5GEQd9ZoH77MDKtmWqU%3d&risl=&pid=ImgRaw&r=0">ROC Media</a>
        </em>
      </div>
    </div>
    </div>
    <div fxFlex>
      <!-- Header -->
      <h1 class="blue">Who was Jim Butcher?</h1>
      <!-- Bio for author -->
      <p>
        Jim Butcher, acclaimed author of "Storm Front" and the Dresden Files series, is a master storyteller in the realm of urban fantasy. With wizardry, wit, and a noir touch, Butcher introduces readers to Harry Dresden, a modern-day wizard detective. His immersive narratives, blending magic with hardboiled mystery, have captivated millions of readers worldwide. Butcher's literary prowess extends beyond genres, solidifying his place as a luminary in contemporary fantasy literature.
      </p>
    </div>
</div>
