<!-- Name: Nolan Berryhill -->
<!-- File: app.component.html -->
<!-- Description: HTML component file for profile app -->
<!-- Date: 10/22/2023 -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<div class="container">

  <br /><br />
  <h2 class="text-center"> {{ assignment }} </h2>
  <br /><br />
  <div class="row">
    <div class="col-md-4">
      <app-my-image></app-my-image>
    </div>
    <div class="col-md-8">
      <app-my-details></app-my-details>
    </div>
  </div>
</div>
