<!--
  Title: not-found.component.html
  Author: Nolan Berryhill
  Date: 12/03/2023
  Description: HTML for not found
-->

<!-- Layout -->
<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">

    <!-- Image -->
    <mat-card-title>
      <img src="./assets/not-found-image.png" />
    </mat-card-title>

    <!-- Return Home button -->
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div>
