/**
  Title: wishlist-create.component.scss
  Author: Nolan Berryhill
  Date: 12/03/2023
  Description: Styles for wishlist-create
*/

/**
  Width for wishlist create form
*/
.wishlist-create-form {
  width: 60%;
}
