<!--
  Title: contact.component.html
  Author: Nolan Berryhill
  Date: 11/19/2023
  Description: Contact for in n out book
-->

<!-- Navigation for contact -->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon></mat-card-title>

        <br />

      <!-- Address for contact -->
      <mat-card-content class="align-center">
        <p>
          1234 Main St.
        </p>
        <p>
          Omaha, NE
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Phone number for contact -->
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free 1-800-555-5555
        </p>
        <p>
          Fax: 555-555-5555
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />

<!-- General information -->
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations through out the local area.
  </p>
</div>
