/**
  Title: app.component.scss
  Author: Nolan Berryhill
  Date: 11/19/2023
  Description: Styles for in n out books
*/

/**
  Margin-top for logo
*/
.logo {
  margin-top: 5px;
}

/**
  Margin, padding-top, width for main-container
*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
