<!-- Name: Nolan Berryhill
File: composer-list.component.html
Description: HTML file for the composer list component
Date: 11/05/2023-->

<!-- Create Table -->
<div class="container">

  <div class="row">
    <h2>Composer List</h2>
    <br /><br />
    <!-- Create Table -->
    <div>
      <table class="table">
        <thead class="thead-dark">
          <!-- Titles -->
          <tr>
            <th scope="col">Composer ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Genre</th>
          </tr>
        </thead>
        <!-- Body of the table -->
        <tbody>
          <tr *ngFor="let composer of composers">
            <td scope="row">
              <a routeLink="/composer-details/{{ composer.composerId }}">
                {{ composer.composerId }}
              </a>
            </td>
            <td>{{ composer.fullName }}</td>
            <td>{{ composer.genre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
