/**
  Title: base-layout.component.scss
  Author: Nolan Berryhill
  Date: 12/03/2023
  Description: Styles for base layout
*/

/**
  Margin-top for logo
*/
.logo {
  margin-top: 5px;
}

/**
  Styles for main container
*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
