/**
  Title: book-list.component.scss
  Author: Nolan Berryhill
  Date: 11/19/2023
  Description: Styles for book-list
*/

/**
  text decoration and cursor for a-link
*/
.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
